body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(space.png);
}
spline-viewer
{
    width: 100%;
    height: 120%;
    position: relative;
}